{% extends 'base.html.twig' %}

{% block title %}Quentin LAFFEACH {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/home.css') }}">
{% endblock %}

{% block body %}
    <div id="particles-js"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="text-center mb-lg-5 mb-md-2 mt-lg-5 pt-lg-5 mt-md-2 pt-md-2">
                    <img src="https://placeimg.com/150/150/people" class="rounded-circle border quentin" alt="Photo Quentin LAFFEACH">
                </p>
                <h1 class="text-center text-white font-weight-light">Quentin Laffeach</h1>
                <h2 class="text-center text-white font-weight-light">Développeur PHP</h2>
                <h3 class="text-center text-white font-weight-light">SEO | Webmarketing | Gestion de projets</h3>
                <div class="btn btn-primary"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/home.js') }}"></script>
{% endblock %}
